
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-1-xba {
  box-sizing: border-box;
  padding: 4.1rem 7.6rem 3.9rem 7.2rem;
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  background-color: #f3f3ff;

  .auto-group-mgry-3Fe {
    height: 4.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 3.7rem;
    width: 100%;

    .merlinn-mzG {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 78.961rem 0.4rem 0rem;
      font-size: 2.8rem;
      font-weight: 800;
      line-height: 1.2102272851;
      color: #7284ff;
    }
    .search-Lvt {
      display: flex;
      border: solid 0.1rem #d3d3ec;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin-right: 7.689rem;
      box-sizing: border-box;
      padding: 1.3rem 1.949rem 1.2rem 1.264rem;
      height: 100%;
      align-items: center;
      background-color: #ffffff;

      .enter-city-name-cNc {
        line-height: 1.2102272851;
        color: #8888ae;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 18.6957rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .search-fbn {
        width: 1.5799rem;
        height: 1.5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .hamburger-GLg {
      margin-bottom: 0.1rem;
      width: 2.9492rem;
      height: 2.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-d3r3-8tg {
    margin-bottom: 6.1rem;
    width: 100%;
    height: 38rem;
    position: relative;
    flex-shrink: 0;

    .mask-group-dqS {
      vertical-align: top;
      width: 136.4rem;
      height: 38rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
    }
    .degree-i6C {
      width: 24.4361rem;
      height: 21.5rem;
      position: absolute;
      left: 2.9492rem;
      top: 14.5rem;

      .item-25-au6 {
        left: 0;
        top: 3.5rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 16.9rem;
        position: absolute;
        font-size: 14rem;
        font-weight: 200;
        line-height: 1.2102272034;
        white-space: nowrap;
        width: 24.4361rem;
      }
      .hanoi-vietnam-2m6 {
        width: 21.171rem;
        position: absolute;
        top: 18.1rem;
        font-size: 2.8rem;
        line-height: 1.2102272851;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.4rem;
        left: 0;
        font-weight: 400;
        color: #ffffff;
      }
      .sun-HBE {
        width: 4.9241rem;
        height: 4.675rem;
        position: absolute;
        left: 0.9611rem;
        top: 0.2125rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .hour-LQQ {
      left: 107.6454rem;
      top: 29.1rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 26.2267rem;
      height: 6.8rem;
      position: absolute;

      .pm-1mS {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.2102272797;
      }
      .sunset-time-sunday-v7i {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2102272797;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.632rem;
      }
    }
  }
  .auto-group-n3uf-Q2t {
    margin-right: 0.1053rem;
    width: calc(100% - 0.1053rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-u9go-W5v {
      margin: 0rem 4.002rem 0.4rem 0rem;
      width: 50.9788rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .information-12g {
        box-sizing: border-box;
        padding: 3.1rem 7.794rem 3.4rem 2.528rem;
        height: 20.6rem;
        flex-shrink: 0;
        margin-bottom: 4.2rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #d3d3ec;
        background-color: #ffffff;
        border-radius: 2rem;

        .auto-group-eusk-JnU {
          margin-right: 10.2168rem;
          width: 12.7447rem;
          height: 100%;
          flex-shrink: 0;

          .humidity-S7z {
            width: calc(100% - 0.1053rem);
            display: flex;
            align-items: center;
            margin: 0rem 0.105rem 5.3rem 0rem;
            box-sizing: border-box;
            padding: 0.367rem 0rem 0rem 0.772rem;

            .droplet-fex {
              margin: 0rem 1.615rem 0.367rem 0rem;
              width: 3.0896rem;
              height: 3.6667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-wpmv-aX2 {
              margin-top: 0.1333rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .humidity-8YY {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.1rem;
              }
              .item-74-F7N {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 800;
                line-height: 1.2102272511;
              }
            }
          }
          .uv-index-xnU {
            width: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0.183rem 0rem 0.183rem 0.193rem;

            .sun-s8k {
              margin-right: 1.0357rem;
              width: 4.2482rem;
              height: 4.0333rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-vpxb-Pct {
              margin-top: 0.1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .uv-index-jwe {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.1rem;
              }
              .of-10-5Ep {
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 800;
              }
            }
          }
        }
        .line-4-PmJ {
          width: 0.1rem;
          height: 9.9rem;
          background-color: #d8d8ee;
          flex-shrink: 0;
          margin: 0.2rem 3.271rem 0rem 0rem;
        }
        .auto-group-zuz3-iHn {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-top: 0.2rem;
          width: 14.3246rem;

          .sunrise-3qr {
            flex-shrink: 0;
            margin-bottom: 4.9rem;
            box-sizing: border-box;
            padding: 0.367rem 0rem 0rem 0.193rem;
            width: 100%;
            display: flex;
            align-items: center;

            .sunrise-Afa {
              height: 3.6667rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 3.037rem 0.367rem 0rem;
              width: 4.2482rem;
            }
            .auto-group-trbh-6ZE {
              margin-top: 0.1333rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .sunrise-Sd6 {
                font-weight: 400;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.1rem;
                font-size: 1.6rem;
              }
              .am-aDW {
                font-size: 1.6rem;
                font-weight: 800;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .sunset-i4p {
            box-sizing: border-box;
            padding: 0.367rem 0rem 0rem 0.193rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .sunset-3sn {
              height: 3.6667rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 3.037rem 0.567rem 0rem;
              width: 4.2482rem;
            }
            .auto-group-162w-aMv {
              margin-top: 0.3333rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .sunset-L6C {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.1rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2102272511;
                color: #000000;
              }
              .pm-sM2 {
                font-size: 1.6rem;
                font-weight: 800;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .rainfall-ZDr {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        background: linear-gradient(85.79deg, #bebeef -3.92%, #918eea 51.41%);
        border-radius: 2rem;
        padding: 3.1rem 2.528rem 4rem 2.528rem;
        width: 100%;
        flex-direction: column;
        border: solid 0.1rem #d3d3ec;
        flex-shrink: 0;

        .auto-group-adgf-HQk {
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-end;

          .monthly-rainfall-qBN {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 22.6456rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
          }
          .this-year-3YL {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-7kab-a2U {
          flex-shrink: 0;
          margin: 0rem 0rem 0rem 0.211rem;
          width: calc(100% - 0.2107rem);
          display: flex;
          align-items: center;

          .mm-hsn {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 34.8636rem;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2102272034;
          }
          .item-17-3gk {
            font-weight: 800;
            line-height: 1.2102272511;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.6rem;
          }
        }
      }
    }
    .rectangle-week-temperate-Hqz {
      margin-top: 0.4rem;
      padding: 3.5rem 2.528rem 1.89rem 2.528rem;
      flex-direction: column;
      border-radius: 2rem;
      border: solid 0.1rem #d3d3ec;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 81.3134rem;
      align-items: center;
      display: flex;

      .graph-bLt {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 1.4rem;

        .auto-group-xe59-Ymv {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1rem;

          .temperature-precipitation-wind-r1v {
            font-weight: 400;
            line-height: 1.2102272511;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.1rem;
            font-size: 1.6rem;
          }
          .auto-group-tehh-ksz {
            align-items: flex-start;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            display: flex;
            column-gap: 4.2131rem;

            .item-25-6S4 {
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2102272511;
            }
            .item-25-RjE {
              line-height: 1.2102272511;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
            .item-24-ZqS {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.7rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-z2hq-6qN {
            border-bottom: solid 0.1rem #d3d3ec;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 75.6261rem;
            height: 13.4rem;
            position: relative;

            .item-23-EAt {
              font-family: Inter, 'Source Sans Pro';
              width: 1.5799rem;
              left: 17.3792rem;
              top: 0.8rem;
              font-size: 1.2rem;
              line-height: 1.2102272511;
              color: #8d899c;
              height: 1.5rem;
              position: absolute;
              font-weight: 400;
              white-space: nowrap;
            }
            .item-22-j7e {
              width: 1.5799rem;
              left: 23.1722rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              height: 1.5rem;
              position: absolute;
              top: 3.2rem;
              font-size: 1.2rem;
              white-space: nowrap;
            }
            .item-21-EKJ {
              height: 1.5rem;
              top: 4.7rem;
              font-size: 1.2rem;
              line-height: 1.2102272511;
              white-space: nowrap;
              width: 1.3693rem;
              left: 28.9653rem;
              font-weight: 400;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
            }
            .item-21-8vU {
              width: 1.3693rem;
              position: absolute;
              font-weight: 400;
              line-height: 1.2102272511;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.5rem;
              left: 34.5476rem;
              top: 5rem;
              font-size: 1.2rem;
              color: #8d899c;
            }
            .item-21-r5n {
              height: 1.5rem;
              left: 40.13rem;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 1.3693rem;
              position: absolute;
              top: 5.1rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2102272511;
            }
            .item-21-kgx {
              width: 1.3693rem;
              font-weight: 400;
              white-space: nowrap;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              height: 1.5rem;
              position: absolute;
              left: 45.7124rem;
              top: 5.5rem;
              font-size: 1.2rem;
              line-height: 1.2102272511;
            }
            .item-20-U7A {
              top: 6.7rem;
              font-size: 1.2rem;
              font-family: Inter, 'Source Sans Pro';
              left: 51.2948rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #8d899c;
              white-space: nowrap;
              width: 1.5799rem;
              height: 1.5rem;
              position: absolute;
            }
            .item-20-n7r {
              width: 1.5799rem;
              height: 1.5rem;
              position: absolute;
              font-size: 1.2rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              left: 57.0879rem;
              top: 6.9rem;
              line-height: 1.2102272511;
              color: #8d899c;
              white-space: nowrap;
            }
            .item-19-V2G {
              position: absolute;
              top: 7.4rem;
              white-space: nowrap;
              width: 1.4746rem;
              height: 1.5rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              left: 62.8809rem;
              font-size: 1.2rem;
            }
            .item-21-zDv {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              top: 5.8rem;
              font-size: 1.2rem;
              line-height: 1.2102272511;
              color: #8d899c;
              width: 1.3693rem;
              height: 1.5rem;
              left: 68.5686rem;
              font-weight: 400;
            }
            .item-21-Q2k {
              white-space: nowrap;
              left: 74.151rem;
              top: 4.8rem;
              font-size: 1.2rem;
              color: #8d899c;
              font-family: Inter, 'Source Sans Pro';
              width: 1.3693rem;
              height: 1.5rem;
              position: absolute;
              font-weight: 400;
              line-height: 1.2102272511;
            }
            .vector-1-ukC {
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 75.5203rem;
              height: 13.3rem;
              position: absolute;
            }
            .vector-2-SEL {
              height: 10.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 75.6256rem;
            }
          }
        }
        .auto-group-kuf9-ZJx {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .now-HEx {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.7398rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-18-cHE {
            margin-right: 4.7398rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-19-YRn {
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.6344rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
          }
          .item-20-syr {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.5291rem;
          }
          .item-21-Qit {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.7398rem;
          }
          .item-22-xEc {
            flex-shrink: 0;
            margin-right: 4.5291rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-23-VEY {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.5291rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
          }
          .item-00-2EU {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.5291rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
          }
          .item-01-NJL {
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.6344rem;
            font-size: 1.2rem;
          }
          .item-02-JSt {
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.5291rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
          }
          .item-03-dzx {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.4238rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
          }
          .item-04-Azt {
            margin-right: 4.4238rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-05-JrC {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #8d899c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-spyb-3Yt {
        margin: 0rem 3.581rem 0rem 3.792rem;
        width: calc(100% - 7.373rem);
        height: 8.3096rem;
        position: relative;
        flex-shrink: 0;

        .week-AtQ {
          width: 68.674rem;
          height: 8.3096rem;
          position: absolute;
          left: 0;
          top: 0;

          .auto-group-s8hh-tpQ {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 18.7484rem;
            height: 8.3096rem;
            position: absolute;
            left: 0;
          }
          .line-7-dmz {
            left: 18.7484rem;
            top: 0;
            background-color: #dfdff3;
            width: 0.1rem;
            height: 8.3096rem;
            position: absolute;
          }
          .line-8-ZvY {
            width: 0.1rem;
            height: 8.3096rem;
            position: absolute;
            left: 29.4919rem;
            top: 0;
            background-color: #dfdff3;
          }
          .line-9-JdE {
            top: 0;
            background-color: #dfdff3;
            width: 0.1rem;
            height: 8.3096rem;
            position: absolute;
            left: 40.2354rem;
          }
          .line-10-3qi {
            top: 0;
            background-color: #dfdff3;
            width: 0.1rem;
            height: 8.3096rem;
            position: absolute;
            left: 50.9788rem;
          }
          .line-11-PPn {
            left: 61.7223rem;
            top: 0.0096rem;
            background-color: #dfdff3;
            width: 0.1rem;
            height: 8.3rem;
            position: absolute;
          }
          .auto-group-wcmy-86U {
            width: 11.4808rem;
            height: 8.3096rem;
            position: absolute;
            left: 57.1932rem;
            top: 0;
          }
          .mon-roA {
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 0;
            top: 0;
            position: absolute;
            font-size: 1.2rem;
            line-height: 1.2102272511;
            color: #000000;
            width: 3.0545rem;
            height: 1.5rem;
          }
          .tue-xrC {
            font-size: 1.2rem;
            color: #000000;
            width: 2.5279rem;
            height: 1.5rem;
            top: 0;
            font-weight: 400;
            line-height: 1.2102272511;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 11.5861rem;
          }
          .wed-Grt {
            top: 0;
            font-weight: 400;
            line-height: 1.2102272511;
            color: #000000;
            white-space: nowrap;
            width: 2.9492rem;
            height: 1.5rem;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 22.9615rem;
          }
          .thu-nqE {
            width: 2.7385rem;
            line-height: 1.2102272511;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 1.5rem;
            position: absolute;
            left: 33.073rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .fri-J2t {
            font-weight: 400;
            line-height: 1.2102272511;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.5rem;
            font-size: 1.2rem;
            left: 43.8165rem;
            top: 0;
            color: #000000;
            width: 1.8959rem;
            position: absolute;
          }
          .sat-zgQ {
            line-height: 1.2102272511;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 54.7707rem;
            font-size: 1.2rem;
            font-weight: 400;
            width: 2.4225rem;
            height: 1.5rem;
            top: 0;
          }
          .sun-7W8 {
            color: #000000;
            width: 2.7385rem;
            top: 0;
            line-height: 1.2102272511;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.5rem;
            position: absolute;
            left: 65.9354rem;
          }
        }
        .weathers-week-dDa {
          width: 68.7856rem;
          top: 2.8rem;
          align-items: flex-end;
          box-sizing: border-box;
          height: 5.5rem;
          position: absolute;
          left: 0.099rem;
          display: flex;
          padding: 0.1rem 0rem 0rem 0.099rem;

          .auto-group-s3rb-tfJ {
            margin-right: 8.6445rem;
            width: 2.8561rem;
            flex-shrink: 0;

            .cloud-RfE {
              object-fit: contain;
              vertical-align: top;
              margin: 0rem 0.656rem 1.6rem 0rem;
              width: calc(100% - 0.6555rem);
              height: 1.6rem;
            }
            .item-31-u4c {
              font-size: 1.6rem;
              font-weight: 800;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 0.1176rem;
            }
          }
          .auto-group-xguz-Qn4 {
            flex-shrink: 0;
            margin-right: 7.7943rem;
            width: 3.2576rem;
            height: 100%;

            .sun-x2t {
              margin: 0rem 1.058rem 1.3rem 0rem;
              width: calc(100% - 1.0576rem);
              height: 2.2rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .item-34-U1E {
              white-space: nowrap;
              margin-left: 0.0978rem;
              font-size: 1.6rem;
              font-weight: 800;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-pmg7-oJQ {
            margin-right: 7.2623rem;
            width: 3.0545rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .sun-8ba {
              height: 2.2rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.544rem 1.3rem 0.311rem;
              width: calc(100% - 0.8545rem);
            }
            .item-38-FgC {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 800;
              line-height: 1.2102272511;
              color: #000000;
            }
          }
          .auto-group-bu4j-zNt {
            margin-right: 7.157rem;
            width: 3.1652rem;
            height: 100%;
            flex-shrink: 0;

            .sun-7yJ {
              width: calc(100% - 0.9652rem);
              height: 2.2rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              margin: 0rem 0.965rem 1.3rem 0rem;
            }
            .item-37-3rx {
              white-space: nowrap;
              margin-left: 0.216rem;
              font-size: 1.6rem;
              font-weight: 800;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-qnfu-NeL {
            margin-right: 7.5836rem;
            width: 3.6918rem;
            height: 100%;
            flex-shrink: 0;

            .sun-vQx {
              object-fit: contain;
              vertical-align: top;
              margin: 0rem 1.492rem 1.3rem 0rem;
              width: calc(100% - 1.4918rem);
              height: 2.2rem;
              position: relative;
            }
            .item-34-Su6 {
              margin-left: 0.532rem;
              font-size: 1.6rem;
              font-weight: 800;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-ltef-yu2 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.1044rem;
            width: 3.0545rem;
            align-items: center;

            .cloud-7kL {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.621rem 1.6rem 0.233rem;
              width: calc(100% - 0.8539rem);
              height: 1.6rem;
              object-fit: contain;
            }
            .item-26-Snc {
              font-size: 1.6rem;
              font-weight: 800;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-rqcb-n5n {
            flex-shrink: 0;
            margin-top: 0rem;
            width: 3.0604rem;
            height: calc(100% - 0rem);

            .cloud-drizzle-7dr {
              margin: 0rem 0.86rem 1.3rem 0rem;
              width: calc(100% - 0.8604rem);
              height: 2.2rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .item-24-qZr {
              font-weight: 800;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 0.0059rem;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
